<div style="display: flex">
  <div style="flex: 1">
    <ul>
      <li><a routerLink="take">Take</a></li>
      <li><a routerLink="takeLast">TakeLast</a></li>
      <li><a routerLink="takeUntil">TakeUntil</a></li>
      <li><a routerLink="takeWhile">TakeWhile</a></li>
      <li><a routerLink="skip">skip</a></li>
      <li><a routerLink="skipLast">SkipLast</a></li>
      <li><a routerLink="skipUntil">SkipUntil</a></li>
      <li><a routerLink="skipWhile">skipWhile</a></li>
      <li><a routerLink="distinct">distinct</a></li>
      <li><a routerLink="distinctUntilChanged">distinctUntilChanged</a></li>
      <li><a routerLink="distinctUntilKeyChanged">distinctUntilKeyChanged</a></li>
      <li><a routerLink="filter">filter</a></li>
      <li><a routerLink="sample">sample</a></li>
      <li><a routerLink="audit">audit</a></li>
      <li><a routerLink="throttle">Throttle</a></li>
      <li><a routerLink="first">First</a></li>
      <li><a routerLink="last">Last</a></li>
      <li><a routerLink="debounce">Debounce</a></li>
      <li><a routerLink="elementAt">elementAt</a></li>
      <li><a routerLink="ignoreElements">ignoreElements</a></li>
      <li><a routerLink="single">single</a></li>
      <li><a routerLink="map">map</a></li>
      <li><a routerLink="mapTo">mapTo</a></li>
      <li><a routerLink="ajax">ajax</a></li>
      <li><a routerLink="mergeMap">mergeMap</a></li>
      <li><a routerLink="mergeMapTo">mergeMapTo</a></li>
      <li><a routerLink="concatMap">concatMap</a></li>
      <li><a routerLink="concatMapTo">concatMapTo</a></li>
      <li><a routerLink="exhaustMap">exhaustMap</a></li>
      <li><a routerLink="switchMap">switchMap</a></li>
      <li><a routerLink="switchMapTo">switchMapTo</a></li>
      <li><a routerLink="multicast">multicast</a></li>
      <li><a routerLink="share">share</a></li>
      <li><a routerLink="publishBehavior">publishBehavior</a></li>
      <li><a routerLink="publishLast">publishLast</a></li>
      <li><a routerLink="publishReplay">publishReplay</a></li>
      <li><a routerLink="catchError">catchError</a></li>
      <li><a routerLink="retry">retry</a></li>
      <li><a routerLink="retryWhen">retryWhen</a></li>
      <li><a routerLink="combineLatest">combineLatest</a></li>
      <li><a routerLink="concat">concat</a></li>
      <li><a routerLink="forkJoin">forkJoin</a></li>
      <li><a routerLink="merge">merge</a></li>
      <li><a routerLink="partition">partition</a></li>
      <li><a routerLink="race">race</a></li>
      <li><a routerLink="zip">zip</a></li>
      <li><a routerLink="defer">defer</a></li>
      <li><a routerLink="range">range</a></li>
      <li><a routerLink="timer">timer</a></li>
      <li><a routerLink="count">count</a></li>
      <li><a routerLink="max">max</a></li>
      <li><a routerLink="min">min</a></li>
      <li><a routerLink="reduce">reduce</a></li>
      <li><a routerLink="isEmpty">isEmpty</a></li>
      <li><a routerLink="findIndex">findIndex</a></li>
      <li><a routerLink="find">find</a></li>
      <li><a routerLink="every">every</a></li>
      <li><a routerLink="defaultEmpty">defaultIfEmpty</a></li>
      <li><a routerLink="toArray">toArray</a></li>
      <li><a routerLink="subscribeOn">subscribeOn</a></li>
      <li><a routerLink="observeOn">observeOn</a></li>
      <li><a routerLink="materialize">materialize</a></li>
      <li><a routerLink="dematerialize">dematerialize</a></li>
      <li><a routerLink="delay">delay</a></li>
      <li><a routerLink="combineLatestAll">combineLatestAll</a></li>
      <li><a routerLink="concatAll">concatAll</a></li>
      <li><a routerLink="exhaustAll">exhaustAll</a></li>
      <li><a routerLink="switchAll">switchAll</a></li>
      <li><a routerLink="mergeAll">mergeAll</a></li>
      <li><a routerLink="startWith">startWith</a></li>
      <li><a routerLink="withLatestFrom">withLatestFrom</a></li>
      <li><a routerLink="groupBy">grupBy</a></li>
      <li><a routerLink="pairwise">pairwise</a></li>
      <li><a routerLink="window">window</a></li>
      <li><a routerLink="windowCount">windowCount</a></li>
      <li><a routerLink="windowTime">windowTime</a></li>
      <li><a routerLink="windowToggle">windowToggle</a></li>
      <li><a routerLink="windowWhen">windowWhen</a></li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
